# EmailJS Configuration
# Obtén estas credenciales en https://www.emailjs.com/
# 1. Crea una cuenta gratuita
# 2. Añade un servicio de email (Gmail, Outlook, etc.)
# 3. Crea un template con variables: {{from_name}}, {{from_email}}, {{message}}
# 4. Copia los IDs aquí

VITE_EMAILJS_SERVICE_ID= service_s0ni9yk
VITE_EMAILJS_TEMPLATE_ID= template_jen7j82
VITE_EMAILJS_PUBLIC_KEY=I6uArspn0qET1R1UV
